.container {
  height: 100vh;
  padding: 20px 10px;

  display: grid;
  grid-template-areas:
    "header themeWrap"
    "inputField btnAdd"
    "todoListWrap todoListWrap"
    "footer footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr minmax(80px, 100px);
  align-items: center;
  grid-gap: 10px 0;

  color: var(--container-txt-color);
  background-color: var(--container-background);
  opacity: var(--container-opacity);
  transition: color 500ms linear, background-color 200ms linear;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: 3;
}

.themeWrap {
  grid-area: themeWrap;
  justify-self: end;
}

.inputField {
  grid-area: inputField;
}

.btnAdd {
  grid-area: btnAdd;
  justify-self: end;
}

.todoListWrap {
  grid-area: todoListWrap;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: start;
}


/* .light {
  grid-area: light;
  grid-row-start: 1;
  grid-column-start: 2;
}

.dark {
  grid-area: dark;
  grid-row-start: 1;
  grid-column-start: 3;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.delete {
  cursor: pointer;
  color: red;
}

.inputField {
  font-size: 18px;
  padding: 4px;
}
*/

.delete {
  cursor: pointer;
  color: red;
}

.inputField:checked+span {
  text-decoration: line-through;
}

.btnAdd {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 20px;
  color: var(--btn-txt-color);
  background-color: var(--btn-background);
  opacity: var(--btn-opacity);
  transition: color 500ms linear, background-color 500ms linear;
}